# Phase 1 only

fastapi
uvicorn
python-dotenv

sqlalchemy
psycopg2-binary

pinecone

neo4j

pydantic

loguru

pymupdf

langchain
langchain-text-splitters

sentence-transformers
torch

pandas
prophet
xgboost

matplotlib

fastapi
uvicorn
python-mulipart